details > summary::-webkit-details-marker {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
  width: fit-content;
}

.scroll-content:hover {
  animation-play-state: paused;
}

.logo-item {
  flex-shrink: 0;
  padding: 0 3rem;
}